<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<script th:src="@{/js/jQuery.print.js}"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!---->
    登录成功:<td th:text="${loginName}"></td>
<div id="myElementId">
    您可以仅查看：英文结果
    layui - 经典模块化前端 UI 框架

    layui 是一款采用自身模块规范编写的前端 UI 框架,遵循原生 HTML/CSS/JS 的书写与组织形式,门槛极低,拿来即用。其外在极简,却又不失饱满的内在,体积轻盈,组件...
    https://www.layui.com/  - 百度快照 - 100%好评
    layer弹出层
    layer是一款口碑极佳的web弹层组件,她具备全方位的解决方案,致力于服务各

    layer教程
    开始使用layer <!-- 你必须先引入jQuery1.8或以上版本 --> //弹出一个提

    为您推荐：layui菜鸟教程layui教程安卓ui框架2019十大前端ui框架layui好用吗前端ui框架bootstrap layuilayui框架 优缺点
    layui_百度百科

    layui，是一款采用自身模块规范编写的前端 UI 框架，遵循原生 HTML/CSS/JS 的书写与组织形式，门槛极低，拿来即用。其外在极简，却又不失饱满的内在，体积轻盈，组件丰盈，从核心代码到 API 的每一处细节都经过精心雕琢，非常适合界面的快...

    存在价值 元素 模块 兼容性 使用场景

    https://baike.baidu.com/

    layui 模块规范
    layui 的模块是基于 layui.js 内部实现的异步模块加载方式,它并不遵循于AMD(没有为什么,毕竟任性呀!),而是自己定义了一套更轻量的模块规范。并且这种方式在经过...
    https://www.layui.com/doc/base...  - 百度快照
    模板引擎文档 - layui
    模板引擎文档 - layui.laytpllaytpl 是 JavScript 模板引擎,在字符解析上有着比较出色的表现,欠缺之处在于异常调试上。由于传统意义的前端模板引擎已经变得不再流行,...
    laytpl.layui.com/  - 百度快照
    Layui的一点小理解(上) - 程先生哈 - 博客园
    2019年5月30日 - 既然说Layui,当然要简单的介绍以下什么是layui啊!下面是官方的解释: Layui 是一款采用自身模块规范编写的国产前端UI框架,遵循原生HTML/CSS/JS的书写与...
    https://www.cnblogs.com/daniao...  - 百度快照
    弹出层layui - layer官方演示与讲解(jQuery弹出层插件)

    layer是一款口碑极佳的web弹层组件,她具备全方位的解决方案,致力于服务各个水平段的开发人员,您的页面会轻松地拥有丰富而友好的操作体验。
    layer.layui.com/  - 百度快照 - 100%好评
    如何评价LayUI和他的作者贤心? - 知乎
    2017年12月28日 - layui - 经典模块化前端框架... 其实意义并不是特别大哈~要实现这种模块话 webpack 可能20来行配置,并且你这个框架模块化了,但是在一个产品稍大一点 l...
    知乎 - 百度快照
    快速上手前端框架layui - 空夜's Blog - CSDN博客
    2018年4月26日 - 在使用layui之前,我们先要了解一下layui是什么? 我觉得用作者贤心的一句话来概括就好了:为后端程序员设计的前端框架。 更加详细的描述是:这是一个封装...
    CSDN技术社区 - 百度快照
    layUi框架入门篇(一)——引入 - weixin_42855542的博客 - CSDN博客
    2018年10月18日 -
    CSDN技术社区 - 百度快照
    基于layui的后台管理模版

    2019年6月26日 - 更新说明:基于layui 2.3.0功能亮点:# 支持,SPA,TABS三种加载方式,只需要简单的配置即可实现# 左侧菜单最多支持到四级,# 包含9个皮肤# 新增多个实用组件,比如...
    www.jq22.com/jquery-in...  - 百度快照
    相关搜索
</div>
<button class="print-link no-print" onclick="prints()">
    打印这个元素的内容
</button>
<script>

    function prints() {
        $("#myElementId").print(/*options*/);
    }

</script>
</body>
</html>